<header>
  <nav>
    <ul>
      <li>
        <a href="/"><strong><%= @site_title %></strong></a>
      </li>
    </ul>
    <ul>
      <%= for section <- @pages do %>
        <li><a href="<%= section.url %>"><%= section.title %></a></li>
      <% end %>
      <%= if @blog.enabled do %>
        <li><a href="<%= @blog.url %>"><%= @blog.title %></a></li>
      <% end %>
    </ul>
  </nav>
</header>

<main>
  <article>
    <header>
      <hgroup>
        <h1><%= @title %></h1>
      </hgroup>
    </header>

    <section>
    <%= if length(@posts) > 0  do %>
    <section>
    <%= for post <- @posts do %>
      <article>
          <h2><%= post.title %></h2>
          <p>
            <small>
              Por <%= post.author %> | <%= post.date %>
              <%= if post.tags && length(post.tags) > 0 do %>
                | Tags: <%= Enum.join(post.tags, ", ") %>
              <% end %>
            </small>
          </p>
        <p><%= post.description %></p>
        <a href="<%= post.url %>">Leer más &rarr;</a>
      </article>
    <% end %>
    </section>
    <% end %>
    </section>
  </article>
</main>

<footer>
  <p>
    <small>
      © <%= DateTime.utc_now().year %> - All rights reserved
    </small>
  </p>
</footer>
